*.rds
x_*/
fitting_on_1050agents/
yearsley_alpha_neg.stan
yearsley_alpha_pos.stan
yearsley_f.stan
*.zip
4-empirical/fitting/output/
4-empirical/fitting/output_sd1/
3-recovery/fitting/output/
data/
*.csv